APICore/APICore/logs/internal-nlog.txt
APICore/APICore/logs/internal-nlog.txt
APICore/APICore/logs/internal-nlog.txt
WebMvcPluginTourService/WebMvcPluginTourService/obj/Debug/netcoreapp3.1/WebMvcPluginTourService.csprojAssemblyReference.cache
*.cache
*.cache
*\.vs\*
*\obj\*
